<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<form #taskForm="ngForm" novalidate>
		<ion-list no-lines style="text-align: center;">
			<ion-item>
				<ion-input [(ngModel)]="task.name" name="name" type="text" placeholder="TaskName">
				</ion-input>
			</ion-item>
		</ion-list>
	</form>
	<button ion-button (click)="send(taskForm)" >Enviar</button>

	<ion-list>
		<ion-item *ngFor="let item of data">
			{{item}}
		</ion-item>
	</ion-list>
</ion-content>
